In [1]:
import os
import pandas as pd
import numpy as np
os.chdir('D:\APDS\Project\Yelp\py workspace')

In [2]:
df_merged = pd.read_pickle('df_merged.pkl')

In [3]:
df_merged.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'latitude',
       'longitude', 'stars', 'review_count', 'is_open', 'categories',
       'checkins'],
      dtype='object')

In [4]:
df_merged = df_merged.drop(columns = ['name', 'address', 'latitude','longitude','categories'])

In [5]:
df_merged.rename(columns={'checkins':'checkin_count'},inplace=True)

In [6]:
df_merged.head()

,business_id,city,state,stars,review_count,is_open,checkin_count
0,PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,3.5,116,1,80
1,o9eMRCWt5PkpLDE0gOPtcQ,Stuttgart,BW,4.0,5,1,1
2,XOSRcvtaKc_Q5H1SAzN20A,Houston,PA,4.5,3,0,3
3,fNMVV_ZX7CJSDWQGdOM8Nw,Charlotte,NC,3.5,7,1,20
4,l09JfMeQ6ynYs5MCJtrcmQ,Toronto,ON,3.0,12,0,3

In [7]:
cols_to_norm = ['review_count', 'checkin_count']
df_merged[cols_to_norm] = df_merged[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [8]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df_merged['state'] = label_encoder.fit_transform(df_merged['state'])

In [9]:
label_encoder = preprocessing.LabelEncoder()
df_merged['city'] = label_encoder.fit_transform(df_merged['city'])
df_merged.head()

,business_id,city,state,stars,review_count,is_open,checkin_count
0,PfOCPjBrlQAnz__NXj9h_w,133,28,3.5,0.015357,1,0.473054
1,o9eMRCWt5PkpLDE0gOPtcQ,660,6,4.0,0.000272,1,0.000000
2,XOSRcvtaKc_Q5H1SAzN20A,248,30,4.5,0.000000,0,0.011976
3,fNMVV_ZX7CJSDWQGdOM8Nw,97,23,3.5,0.000544,1,0.113772
4,l09JfMeQ6ynYs5MCJtrcmQ,682,29,3.0,0.001223,0,0.011976

In [10]:
df_processed = df_merged

In [11]:
df_processed.head()

,business_id,city,state,stars,review_count,is_open,checkin_count
0,PfOCPjBrlQAnz__NXj9h_w,133,28,3.5,0.015357,1,0.473054
1,o9eMRCWt5PkpLDE0gOPtcQ,660,6,4.0,0.000272,1,0.000000
2,XOSRcvtaKc_Q5H1SAzN20A,248,30,4.5,0.000000,0,0.011976
3,fNMVV_ZX7CJSDWQGdOM8Nw,97,23,3.5,0.000544,1,0.113772
4,l09JfMeQ6ynYs5MCJtrcmQ,682,29,3.0,0.001223,0,0.011976

In [12]:
df_processed.to_pickle('df_processed.pkl')