In [1]:
#set working directory
import os
import pandas as pd
import numpy as np
os.chdir('D:\APDS\Project\Yelp\py workspace')

In [2]:
df_business = pd.read_csv('..\\dataset\\RestaurantData\\business.csv')

In [3]:
df_business_attr = pd.read_csv('..\\dataset\\RestaurantData\\business_attributes.csv')

In [4]:
df_business_hours = pd.read_csv('..\\dataset\\RestaurantData\\business_hours.csv')

In [5]:
df_checkin = pd.read_csv('..\\dataset\\RestaurantData\\checkin.csv')

In [6]:
df_tip = pd.read_csv('..\\dataset\\RestaurantData\\tip.csv')

In [7]:
df_business.head()

,Unnamed: 0,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...
1,5,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,5,1,Italian;Restaurants
2,10,XOSRcvtaKc_Q5H1SAzN20A,"""East Coast Coffee""",NaN,"""737 West Pike St""",Houston,PA,15342,40.241548,-80.212815,4.5,3,0,Breakfast & Brunch;Gluten-Free;Coffee & Tea;Fo...
3,14,fNMVV_ZX7CJSDWQGdOM8Nw,"""Showmars Government Center""",Uptown,"""600 E 4th St""",Charlotte,NC,28202,35.221647,-80.839345,3.5,7,1,Restaurants;American (Traditional)
4,15,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,0,Italian;French;Restaurants

In [8]:
df_business.columns

Index(['Unnamed: 0', 'business_id', 'name', 'neighborhood', 'address', 'city',
       'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'categories'],
      dtype='object')

In [9]:
df_business.columns[df_business.isnull().any()].tolist()

['neighborhood', 'postal_code']

In [10]:
df_business.isnull().sum()

Unnamed: 0          0
business_id         0
name                0
neighborhood    30109
address             0
city                0
state               0
postal_code       101
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
categories          0
dtype: int64

In [11]:
len(df_business)

54630

In [8]:
#df_business = df_business.dropna(subset = ['postal_code'])

In [12]:
#df_business = df_business.drop(columns = ['neighborhood', 'Unnamed: 0'])
df_business = df_business.drop(columns = ['Unnamed: 0', 'neighborhood', 'postal_code'])

In [13]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'latitude',
       'longitude', 'stars', 'review_count', 'is_open', 'categories'],
      dtype='object')

In [14]:
df_business_attr.head()

,Unnamed: 0,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,9,XOSRcvtaKc_Q5H1SAzN20A,Na,Na,Na,Na,False,False,False,True,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,13,fNMVV_ZX7CJSDWQGdOM8Nw,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,14,l09JfMeQ6ynYs5MCJtrcmQ,Na,Na,Na,Na,False,True,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [15]:
df_business_attr.isnull().sum()

Unnamed: 0                           0
business_id                          0
AcceptsInsurance                     0
ByAppointmentOnly                    0
BusinessAcceptsCreditCards           0
BusinessParking_garage               0
BusinessParking_street               0
BusinessParking_validated            0
BusinessParking_lot                  0
BusinessParking_valet                0
HairSpecializesIn_coloring           0
HairSpecializesIn_africanamerican    0
HairSpecializesIn_curly              0
HairSpecializesIn_perms              0
HairSpecializesIn_kids               0
HairSpecializesIn_extensions         0
HairSpecializesIn_asian              0
HairSpecializesIn_straightperms      0
RestaurantsPriceRange2               0
GoodForKids                          0
WheelchairAccessible                 0
BikeParking                          0
Alcohol                              0
HasTV                                0
NoiseLevel                           0
RestaurantsAttire                    0
Music_dj                             0
Music_background_music               0
Music_no_music                       0
Music_karaoke                        0
                                    ..
BestNights_tuesday                   0
BestNights_friday                    0
BestNights_wednesday                 0
BestNights_thursday                  0
BestNights_sunday                    0
BestNights_saturday                  0
GoodForMeal_dessert                  0
GoodForMeal_latenight                0
GoodForMeal_lunch                    0
GoodForMeal_dinner                   0
GoodForMeal_breakfast                0
GoodForMeal_brunch                   0
CoatCheck                            0
Smoking                              0
DriveThru                            0
DogsAllowed                          0
BusinessAcceptsBitcoin               0
Open24Hours                          0
BYOBCorkage                          0
BYOB                                 0
Corkage                              0
DietaryRestrictions_dairy-free       0
DietaryRestrictions_gluten-free      0
DietaryRestrictions_vegan            0
DietaryRestrictions_kosher           0
DietaryRestrictions_halal            0
DietaryRestrictions_soy-free         0
DietaryRestrictions_vegetarian       0
AgesAllowed                          0
RestaurantsCounterService            0
Length: 83, dtype: int64

In [16]:
df_business_attr = df_business_attr.drop(columns = ['Unnamed: 0'])

In [17]:
df_business_attr.isin(['Na']).sum(axis=0)

business_id                              0
AcceptsInsurance                     52652
ByAppointmentOnly                    52652
BusinessAcceptsCreditCards           52413
BusinessParking_garage               52558
BusinessParking_street               19739
BusinessParking_validated            19739
BusinessParking_lot                  20499
BusinessParking_valet                19739
HairSpecializesIn_coloring           19739
HairSpecializesIn_africanamerican    52652
HairSpecializesIn_curly              52652
HairSpecializesIn_perms              52652
HairSpecializesIn_kids               52652
HairSpecializesIn_extensions         52652
HairSpecializesIn_asian              52652
HairSpecializesIn_straightperms      52652
RestaurantsPriceRange2               52652
GoodForKids                          52268
WheelchairAccessible                 35901
BikeParking                          35708
Alcohol                              52485
HasTV                                51826
NoiseLevel                           52478
RestaurantsAttire                    52590
Music_dj                             52571
Music_background_music               52649
Music_no_music                       52649
Music_karaoke                        52649
Music_live                           52649
                                     ...
BestNights_tuesday                   52622
BestNights_friday                    52622
BestNights_wednesday                 52622
BestNights_thursday                  52622
BestNights_sunday                    52622
BestNights_saturday                  52622
GoodForMeal_dessert                  52622
GoodForMeal_latenight                50871
GoodForMeal_lunch                    50871
GoodForMeal_dinner                   50871
GoodForMeal_breakfast                50871
GoodForMeal_brunch                   50871
CoatCheck                            50871
Smoking                              52371
DriveThru                            51770
DogsAllowed                          46733
BusinessAcceptsBitcoin               52636
Open24Hours                          52642
BYOBCorkage                          52652
BYOB                                 52569
Corkage                              52652
DietaryRestrictions_dairy-free       52652
DietaryRestrictions_gluten-free      52545
DietaryRestrictions_vegan            52545
DietaryRestrictions_kosher           52545
DietaryRestrictions_halal            52545
DietaryRestrictions_soy-free         52545
DietaryRestrictions_vegetarian       52545
AgesAllowed                          52545
RestaurantsCounterService            52651
Length: 82, dtype: int64

## Most of the attribute column values are not available, hence not using these attributes for further processing

In [19]:
df_checkin.columns

Index(['Unnamed: 0', 'business_id', 'weekday', 'hour', 'checkins'], dtype='object')

In [25]:
df_checkin_count = df_checkin.groupby(['business_id']).count()

In [32]:
df_checkin_count.checkins.head()

business_id
--6MefnULPED_I942VcFNA     52
--9e1ONYQuAa-CB_Rrw7Tw    138
-01XupAWZEXbdNbxNg5mEg     94
-050d_XIor1NpCuWkbIVaQ     82
-05uZNVbb8DhFweTEOoDVg     12
Name: checkins, dtype: int64

In [33]:
df_tip.columns

Index(['Unnamed: 0', 'text', 'date', 'likes', 'business_id', 'user_id'], dtype='object')

In [34]:
df_business_hours.columns

Index(['Unnamed: 0', 'business_id', 'monday', 'tuesday', 'wednesday',
       'thursday', 'friday', 'saturday', 'sunday'],
      dtype='object')

In [35]:
df_business_hours.head()

,Unnamed: 0,business_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,4,PfOCPjBrlQAnz__NXj9h_w,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-2:0,11:0-0:0
1,5,o9eMRCWt5PkpLDE0gOPtcQ,18:0-0:0,18:0-0:0,18:0-0:0,18:0-0:0,18:0-0:0,18:0-0:0,None
2,10,XOSRcvtaKc_Q5H1SAzN20A,None,None,None,None,None,None,None
3,14,fNMVV_ZX7CJSDWQGdOM8Nw,7:0-15:0,7:0-15:0,7:0-15:0,7:0-15:0,7:0-15:0,None,None
4,15,l09JfMeQ6ynYs5MCJtrcmQ,9:0-22:0,9:0-22:0,9:0-22:0,9:0-22:0,9:0-22:0,9:0-22:0,9:0-22:0

In [24]:
df_business_hours.isin(['None']).sum(axis=0)

Unnamed: 0         0
business_id        0
monday         17982
tuesday        15207
wednesday      14608
thursday       14428
friday         14375
saturday       15342
sunday         19998
dtype: int64

In [39]:
df_merged = pd.merge(df_business, df_checkin_count[['checkins']], left_on='business_id', right_on='business_id', how='inner')

In [40]:
df_merged.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'latitude',
       'longitude', 'stars', 'review_count', 'is_open', 'categories',
       'checkins'],
      dtype='object')

In [41]:
df_merged.to_pickle('df_merged.pkl')